<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gourmetlist</key>
	<array>
		<dict>
			<key>NO</key>
			<integer>0</integer>
			<key>gourmetlist</key>
			<dict>
				<key>Picture</key>
				<string></string>
				<key>Name</key>
				<string>gourmet1</string>
				<key>Genre</key>
				<string></string>
				<key>Address</key>
				<string>AAA</string>
				<key>Evaluation</key>
				<string>1</string>
				<key>Comment</key>
				<string>aaa</string>
			</dict>
		</dict>
		<dict>
			<key>NO</key>
			<integer>0</integer>
			<key>gourmetlist</key>
			<dict>
				<key>Picture</key>
				<string></string>
				<key>Name</key>
				<string>gourmet2</string>
				<key>Genre</key>
				<string></string>
				<key>Address</key>
				<string>BBB</string>
				<key>Evaluation</key>
				<string>2</string>
				<key>Comment</key>
				<string>bbb</string>
			</dict>
		</dict>
		<dict>
			<key>NO</key>
			<integer>0</integer>
			<key>gourmetlist</key>
			<dict>
				<key>Picture</key>
				<string></string>
				<key>Name</key>
				<string>gourmet3</string>
				<key>Genre</key>
				<string></string>
				<key>Address</key>
				<string>CCC</string>
				<key>Evaluation</key>
				<string>3</string>
				<key>Comment</key>
				<string>ccc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
