<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gourmetlist</key>
	<array>
		<dict>
			<key>NO</key>
			<integer>0</integer>
			<key>gourmetlist</key>
			<dict>
				<key>Picture</key>
				<string></string>
				<key>Name</key>
				<string>ayala</string>
				<key>Genre</key>
				<string></string>
				<key>Address</key>
				<string>Cebu Business Park,Archbishop Reyes Avenue,Cebu City 6000,Metro Cebu, Cardinal Rosales Ave, Cebu City, Cebu</string>
				<key>Evaluation</key>
				<string>1</string>
				<key>Comment</key>
				<string>delicious</string>
				<key>Latitude</key>
				<string>10.317347 </string>
				<key>Longitude</key>
				<string>123.905759 </string>
				<key>StarEvaluation</key>
				<string>⭐︎</string>
			</dict>
		</dict>
		<dict>
			<key>NO</key>
			<integer>1</integer>
			<key>gourmetlist</key>
			<dict>
				<key>Picture</key>
				<string></string>
				<key>Name</key>
				<string>gourmet2</string>
				<key>Genre</key>
				<string></string>
				<key>Address</key>
				<string>BBB</string>
				<key>Evaluation</key>
				<string>2</string>
				<key>Comment</key>
				<string>bbb</string>
				<key>Latitude</key>
				<string>10.311715</string>
				<key>Longitude</key>
				<string>123.918332</string>
				<key>StarEvaluation</key>
				<string>⭐︎⭐︎</string>
			</dict>
		</dict>
		<dict>
			<key>NO</key>
			<integer>2</integer>
			<key>gourmetlist</key>
			<dict>
				<key>Picture</key>
				<string></string>
				<key>Name</key>
				<string>gourmet3</string>
				<key>Genre</key>
				<string></string>
				<key>Address</key>
				<string>CCC</string>
				<key>Evaluation</key>
				<string>3</string>
				<key>Comment</key>
				<string>ccc</string>
				<key>Latitude</key>
				<string>10.313841</string>
				<key>Longitude</key>
				<string>123.905548</string>
				<key>StarEvaluation</key>
				<string>⭐︎⭐︎⭐︎</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
