<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Wifilist</key>
	<array>
		<dict>
			<key>NO</key>
			<integer>0</integer>
			<key>wifilist</key>
			<dict>
				<key>Picture</key>
				<string></string>
				<key>Name</key>
				<string>wifi1</string>
				<key>Genre</key>
				<string></string>
				<key>Address</key>
				<string>aaa</string>
				<key>Evaluation</key>
				<string>⭐︎</string>
				<key>Comment</key>
				<string>AAA</string>
			</dict>
		</dict>
		<dict>
			<key>NO</key>
			<integer>1</integer>
			<key>wifilist</key>
			<dict>
				<key>Picture</key>
				<string></string>
				<key>Name</key>
				<string>wifi2</string>
				<key>Genre</key>
				<string></string>
				<key>Address</key>
				<string>bbb</string>
				<key>Evaluatoin</key>
				<string>⭐︎⭐︎</string>
				<key>Comment</key>
				<string>BBB</string>
			</dict>
		</dict>
		<dict>
			<key>NO</key>
			<integer>2</integer>
			<key>wifilist</key>
			<dict>
				<key>Picture</key>
				<string></string>
				<key>Name</key>
				<string>wifi3</string>
				<key>Genre</key>
				<string></string>
				<key>Address</key>
				<string>ccc</string>
				<key>Evaluation</key>
				<string>⭐︎⭐︎⭐︎</string>
				<key>Comment</key>
				<string>CCC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
