<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Wifilist</key>
	<array>
		<dict>
			<key>NO</key>
			<integer>0</integer>
			<key>wifilist</key>
			<dict>
				<key>Picture</key>
				<string></string>
				<key>Name</key>
				<string>wifi1</string>
				<key>Genre</key>
				<string></string>
				<key>Address</key>
				<string>aaa</string>
				<key>Evaluation</key>
				<string>1</string>
				<key>Comment</key>
				<string>AAA</string>
				<key>Latitude</key>
				<string>10.317347 </string>
				<key>Longitude</key>
				<string>123.905759 </string>
				<key>StarEvaluation</key>
				<string>⭐︎</string>
			</dict>
		</dict>
		<dict>
			<key>NO</key>
			<integer>1</integer>
			<key>wifilist</key>
			<dict>
				<key>Picture</key>
				<string></string>
				<key>Name</key>
				<string>wifi2</string>
				<key>Genre</key>
				<string></string>
				<key>Address</key>
				<string>bbb</string>
				<key>Evaluation</key>
				<string>2</string>
				<key>Comment</key>
				<string>BBB</string>
				<key>Latitude</key>
				<string>10.311715</string>
				<key>Longitude</key>
				<string>123.918332</string>
				<key>StarEvaluation</key>
				<string>⭐︎⭐︎</string>
			</dict>
		</dict>
		<dict>
			<key>NO</key>
			<integer>2</integer>
			<key>wifilist</key>
			<dict>
				<key>Picture</key>
				<string></string>
				<key>Name</key>
				<string>wifi3</string>
				<key>Genre</key>
				<string></string>
				<key>Address</key>
				<string>ccc</string>
				<key>Evaluation</key>
				<string>3</string>
				<key>Comment</key>
				<string>CCC</string>
				<key>Latitude</key>
				<string>10.313841</string>
				<key>Longitude</key>
				<string>123.905548</string>
				<key>StarEvaluation</key>
				<string>⭐︎⭐︎⭐︎</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
